.main-cont{
    max-width: 1300px;
    margin: auto;
}

.header{
    width: 100%;
    background: red;
}
.hidden-nav{
    display: none;
}
.nav-bar-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    
    
}
.nav-date, .nav-buttons{
    color: white;
    padding-bottom: 25px;
}

.nav-date{
    font-weight: 100;
    padding-left: 20px;

}
.nav-buttons{
    
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-buttons a:hover{
    color: black;
    text-decoration: none;
}
.button-SIGN{
    color: white;
    font-weight: 600;
}
.button-SUBSCRIBE{
    padding: 5px 20px;
    background: white;
    color: red;    
    
    font-weight: 700;
}
.nav-bar-items{
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    background: white;
    padding: 20px 10px;
    border-bottom: .15rem solid rgba(170, 160, 160, 0.2);
}
.nav-bar-item:last-child{
    border: 0px;
}
.nav-bar-item{
    padding: 5 20px;
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    width: 100%;
    height: 100%;

}
.nav-bar-items::before{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
}
.nav-bar-item:hover{
    color: red;
    cursor: pointer;
}
.search{
    color: gray;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.story{
    display: grid;
    grid-template-rows: 4fr 2fr 1fr;
    margin-bottom: 20px;
}
.image-container{
    position: relative;
    background: url(../images/hiv-file-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    max-height: 300px;
}
.image-summary{
    position: absolute;
    bottom: 0;
    padding: 5px 20px;
    background: rgba(255,255,255,.8);
    color: red;
    font-weight: 600;
    left: 0;
}
.title-image a{
    font-size: 1.5rem;
    font-weight: 500;
}
.title-image h2:hover{
    text-decoration:underline;
    text-decoration-color: red;
    cursor: pointer; 

}
.title-image p{
    font-weight: 200;
}
.link-image{
    font-size: 1.2rem;
    font-weight: 700;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.story-title{
    padding: 20px 0px 5px 0px;
    font-weight: 700;
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
}
.story-middle .image-container{
    background: url(../images/trump.jpg);
    max-height: 500px;
}
.story-middle{
    margin-bottom: 0;
}
.more-stories{
    display: grid;
    grid-template-columns: 4fr 10fr;
    margin-bottom: 20px;
    grid-gap: 10px;
    
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    
}
.more-stories-title{
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}
.more-stories-image{
    background: url(../images/omar.jpg);
    background-repeat: no-repeat;
    height: 75px;
    margin-top: 2px;
    width: 75px;
}
.more-stories-description h2{
    font-size: 1rem;
    font-weight: 700;
}
.more-stories-description h2:hover{
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
}
.more-stories-description p{
    font-weight: 200;
    font-size: .9rem;
}

.opinion-image{
    background-image: url(../images/opinion-headshot-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 40px;
    background-color: #f72210;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}


.footer-logo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 30%;
    font-size: .8rem;
}
.footer-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.contact-links{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    width: 15%;
    color: rgba(0, 0, 0, .6);
    align-items: center;
}

.fab:hover{
    cursor: pointer;
}
.fa-facebook-square:hover{
    color: #04a
}
.fa-twitter:hover{
    color: deepskyblue;
}
.fa-instagram:hover{
	background: linear-gradient(to bottom left, #330867 0% ,  orange 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}
.fa-tumblr:hover{
    color: #06114e;
}
.fa-linkedin-in{
    font-size: 1.8rem;
}
.fa-linkedin-in:hover{
    color: #007094;
}

.disclaimer-editions{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 3fr repeat(2,1fr);
}
.editions a, .disclaimer a{
    color: gray;
    font-size: .9rem;
    padding: 0px 5px;
    margin: 5px;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.footer-editions{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 500;
    font-size: .9rem;
}
.editions{
    grid-area: 1/3;
    
}


@media (max-width: 1000px){
    .main-cont{
        width: 100%;
        
    }
    .hidden-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        padding: 0px 10px;
        color: white;
    }
    .nav-bar-header{
        display: none;
    }
    .nav-bar-items{
        display: none;
    }

}